<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN'
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'>


{% load staticfiles %}
<html xmlns='http://www.w3.org/1999/xhtml' lang="de">
<head>
    <meta name="description" content="FIMtech will help you invest">
    <title>FIMtech</title>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static "statement/css/skeleton.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "statement/css/normalize.css"%}">



        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | cerandi</title>
    <link rel="stylesheet" type="text/css" href="{% static "statement/css/chat.css"%}">
    <link href="{% static "statement/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "statement/css/font-awesome.min.css"%}" rel="stylesheet">
    <link href="{% static "statement/css/animate.min.css"%}" rel="stylesheet">
    <link href="{% static "statement/css/lightbox.css"%}" rel="stylesheet">
	<link href="{% static "statement/css/main.css"%}" rel="stylesheet">
	<link href="{% static "statement/css/responsive.css"%}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "statement/img/ico/apple-touch-icon-144-precomposed.png"%}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "statement/img/ico/apple-touch-icon-114-precomposed.png"%}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "statement/img/ico/apple-touch-icon-72-precomposed.png"%}">
    <link rel="apple-touch-icon-precomposed" href="{% static "statement/img/ico/apple-touch-icon-57-precomposed.png"%}">


	<body>
    	<header id="header">
            <h1 align="center"><img src="{% static "statement/img/logos/logo_complete.png"%}" alt="logo" align="center" width="50%"></h1>
        </header>
    <!--/#header-->
            {% block content %}
                
            {% endblock %}

    <!--/#home-slider-->
<!--https://mobiforge.com/design-development/build-a-mobile-and-desktop-friendly-application-django-15-minutes-->

	</body>


</html>
