{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Java Script for search -->
	<script src="{% static 'senacor/js/jquery-2.1.4.min.js'%}"> </script>
    <script src="{% static 'senacor/js/ajax_profile_search.js'%}"> </script>


    <h1 align="middle">Detailed overview: <b>{{ client.first_name }} {{ client.last_name }}</b></h1>


    <!--<div id='loadingmessage' style='display:none'>
  	LOADING
	</div>

    <br>
    # Ordered by name
    <br>-->
    <table style="width:100%">
        <tr>
            <div id="chosen_stocks" align="left">
                <ul align="middle">
                <li class="listing">
                    blubb
                </li>
                </ul>
            </div>
        </tr>
        <tr>
            <div id="chosen_stocks" align="left">
                <ul align="middle">
                <li class="listing">
                    blubb
                </li>
                </ul>
            </div></tr>
    </table>
{% endblock %}