{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Java Script for search -->
	<script src="{% static 'senacor/js/jquery-2.1.4.min.js'%}"> </script>
    <script src="{% static 'senacor/js/ajax_profile_search.js'%}"> </script>


    <h1 align="middle">Overview: <b>{{ client.first_name }} {{ client.last_name }}</b> | <img id="persona_image" src=
            "{% if client.risk_ratio == 1 %} {% static "statement/img/personas/persona1.png"%}
             {% elif client.risk_ratio == 2 %} {% static "statement/img/personas/persona2.png"%}
             {% else %} {% static "statement/img/personas/persona3.png"%}
             {% endif %}" alt="Persona 1" height="50" width="50"></h1>


    <!--<div id='loadingmessage' style='display:none'>
  	LOADING
	</div>

    <br>
    # Ordered by name
    <br>-->
    <div style="float:left;width:45%;">
        <div id="chosen_stocks">
            <h2 align="middle"> {{ client.first_name }} wants to invest in:</h2>
            <ol style="margin-left:35%;">
                {% for investment in investments %}
                <li class="listing">
                    <h3>{{ investment.stock.ticker_name }}</h3>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div style="float:right; width:45%; margin-left:10px;">
        <div id="chat" align="middle" style="height:100%;">
            <h2>Chat with {{ client.first_name }}:</h2>
            <div id="tlkio" data-channel="{{ chat_url }}" data-custom-css="http://helm.bplaced.net/chat.css" style="width:100%;height:300px;"></div>
            <script async src="http://tlk.io/embed.js" type="text/javascript"></script>
        </div>
    </div>
    <footer>
        <form action="{% url 'analyze' advisor_pk=advisor.pk client_pk=client.pk %}" method="post">
            {% csrf_token %}
            <div style="float:left;margin-left:20%;">
                <div style="padding:40px"><input class="button-primary" type="submit" value="Analyze the watchlist!"></div>
            </div>
        </form>
        <form action="{% url 'client_list' advisor_pk=advisor.pk %}" method="get">
            {% csrf_token %}
            <div style="float:right;margin-right:20%;">
                <div style="padding:40px"><input class="button" type="submit" value="Back to the overview!"></div>
            </div>
        </form>
    </footer>

{% endblock %}