{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <header id="header">
            <h1 align="center"><img src="{% static "statement/img/logos/logo_complete.png"%}" alt="logo" align="center" width="50%"></h1>
        </header>

    <h1 align="center">Welcome to the <br> future of investment.</h1>

    <h2 align="center">Your journey begins.</h2>


    <form action="{% url 'register_user' %}" method="post">
    {% csrf_token %}
    <div align="center">
    <div style="padding:5px"><input  id="first_name" type="text" name="first_name" placeholder="Enter your first name" value="" ></div>
    <div style="padding:5px"><input  id="last_name" type="text" name="last_name" placeholder="Enter your last name" value="" ></div>
    <div style="padding:5px"><input type="submit" value="Login"></div>
    </div>
    </form>
    <!--<div style="padding: 5em;"><a href="/tags">Andere Bist-Du-Nicht Fragen </a></div>-->

</div>

{% endblock %}
