{% extends "statement/base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Login</h1>

<!--<a class="button" href="{% url 'yes' statement.gender%}">{{ statement }}</a>-->


    <form action="{% url 'generate_Statement' %}" method="post">
    {% csrf_token %}
    <div><input  id="first_name" type="text" name="url_input" placeholder="Your First Name" value="" ></div>
    <input style="width: 50%;" type="submit" value="Generate">


</form>
    <!--<div style="padding: 5em;"><a href="/tags">Andere Bist-Du-Nicht Fragen </a></div>-->

</div>

{% endblock %}
