{% extends "base.html" %}
{% load staticfiles %}

{% block content %}




<style>
.top_row {
    padding-bottom: .25em;
}
.middle_row {
    padding-top: .25em;
    padding-bottom: .25em;
}
.bottom_row {
    padding-top: .25em;
}
.textfield {
    padding-left:5px;
    font-size:12px;
    line-height:1.25;
}
</style>


    <form action="{% url 'persona_score' %}" method="post" id="persona">
    {% csrf_token %}
    <div align="center">
        <h1>Tell us more about you. What's your attitude towards investment?</h1>
        <div><br></div>
        <table style="width:90%">
            <tr id="persona_type1" style="border:groove">
                <td class="top_row"><div><img src="{% static "statement/img/personas/persona1.png"%}" alt="Persona 1" width="100"></div></td>
                <td class="textfield" class="top_row">Tim, 30. Freshly married, starting a family. Needs safe investments to pay for kids' college.</td>
            </tr>
            <tr id="persona_type2" style="border:groove">
                <td class="middle_row"><div><img src="{% static "statement/img/personas/persona2.png"%}" alt="Persona 2" width="100"></div></td>
                <td class="textfield" class="middle_row" >Jason, 24. Just finished Uni. Wants to get a cool new car in a few years. Wants reasonable risk and return. </td>
            </tr>
            <tr id="persona_type3" style="border:groove">
                <td class="bottom_row"><div><img src="{% static "statement/img/personas/persona3.png"%}" alt="Persona 3" width="100"></div></td>
                <td class="textfield" class="bottom_row">Anthony, 28. Loves his work and makes a lot of money. Doesn't mind taking risks to maximize profits.</td>
            </tr>
        </table>
        <div><input  id="persona_score" type="text" name="persona_score" placeholder="Select your persona" value="" style="display:none"></div>
        <input type="submit" value="Generate" style="display:none">
    </div>
    </form>
    <!--<div style="padding: 5em;"><a href="/tags">Andere Bist-Du-Nicht Fragen </a></div>-->

</div>

        <script language="javascript" type="text/javascript">
    document.getElementById('persona_type1').addEventListener('click', function (e) {
        document.getElementById("persona_score").setAttribute("value", "1");
        document.forms["persona"].submit();
    });
    document.getElementById('persona_type2').addEventListener('click', function (e) {
        document.getElementById("persona_score").setAttribute("value", "2");
        document.forms["persona"].submit();
    });
    document.getElementById('persona_type3').addEventListener('click', function (e) {
        document.getElementById("persona_score").setAttribute("value", "3");
        document.forms["persona"].submit();
    });
    </script>

{% endblock %}
