


{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1 align="center">Logout</h1>



    {% csrf_token %}
    <div align="center" style="padding:15px">
    <h2 style="margin-left: 5%;font-size: 30px">You Shared Your Portfolio</h2>
<h3 style="margin-left: 5%;font-size: 30px">Several Financial Advisors will have a look at your Portfolio.
Using SAP HANA they will help you out to improve your investments. Have a look at your chat. Someone wants to chat
with you.</h3>

    </div>

    <div align="center">
    <a href="/login_form"><div style="padding:5px"><input width="50%" type="submit" value="Back to the beginning"></div></a>
    </div>


{% endblock %}