<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "cerandi_app/statement/css/jquery.mobile-1.4.4.min.css"%}">
<link rel="stylesheet" href="{% static "cerandi_app/css/swipestyle.css"%}">
<script src="{% static "cerandi_app/js/jquery-1.11.3.min.js"%}"></script>
<script src="{% static "cerandi_app/js/jquery.mobile-1.4.4.min.js"%}"></script>
<script src="{% static "cerandi_app/js/swipescript.js"%}"></script>
</head>
<body>
<div id="top_menu">
	<p align="center"><img src="{% static "cerandi_app/img/logo/Logo_symbol.png"%}" alt="Stock" height="20" width="20">  PH_# of 120 <img src="{% static "cerandi_app/img/logo/logo_text.png"%}" alt="Cerandi" height="20" width="42"> </h1>
</div>
  <div id="container">
    <div class="buddy" style="display: block;">
		<h1>PLACEHOLDER for Company Name</h1>
		<img src="http://www.ariva.de/chart/images/chart.png?secu=292&size=350x200&t=year">
		<h2>PLACEHOLDER for Company Name</h2>
		<table class="line">
			<tr> <td class="subtitle">Founding Year</td> <td>PLACEHOLDER Year</td> </tr>
			<tr> <td class="subtitle">Trading Symbol</td> <td>PLACEHOLDER Trading Symbol</td> </tr>
			<tr> <td class="subtitle">Listed Since</td> <td>PLACEHOLDER date</td> </tr>
			<tr> <td class="subtitle">Face Value (Nennwert?) / Stock</td> <td>PLACEHOLDER Value</td> </tr>
			<tr> <td class="subtitle">Country</td> <td>PLACEHOLDER Country</td> </tr>
			<tr> <td class="subtitle">Currency</td> <td>PLACEHOLDER Currency</td> </tr>
			<tr> <td class="subtitle">Industry</td> <td>PLACEHOLDER Ind</td> </tr>
			<tr> <td class="subtitle">Stock Type</td> <td>PLACEHOLDER Stock Type</td> </tr>
			<tr> <td class="subtitle">Sector</td> <td>PLACEHOLDER Sector</td> </tr>
			<tr> <td class="subtitle">WTF Gattung(e.g. Namens-Stammaktie)</td> <td>PLACEHOLDER Gattung</td> </tr> </table>
		<p>PLACEHOLDER Description Text</p>
		<img src="{% static "cerandi_app/img/logo/35px-X_mark.svg.png"%}" alt="Dislike!" height="42" width="42" align="left">
		<img src="{% static "cerandi_app/img/logo/35px-Yes_check.svg.png"%}" alt="Like!" height="42" width="42" align="right">
    </div>
	<div class="buddy" style="display: block;">
		<h1>PLACEHOLDER for Company Name</h1>
		<img src="http://www.ariva.de/chart/images/chart.png?secu=292&size=350x200&t=year">
		<h2>PLACEHOLDER for Company Name</h2>
		<table class="line">
			<tr> <td class="subtitle">Founding Year</td> <td>PLACEHOLDER Year</td> </tr>
			<tr> <td class="subtitle">Trading Symbol</td> <td>PLACEHOLDER Trading Symbol</td> </tr>
			<tr> <td class="subtitle">Listed Since</td> <td>PLACEHOLDER date</td> </tr>
			<tr> <td class="subtitle nobr">Face Value (Nennwert?) / Stock</td> <td>PLACEHOLDER Value</td> </tr>
			<tr> <td class="subtitle">Country</td> <td>PLACEHOLDER Country</td> </tr>
			<tr> <td class="subtitle">Currency</td> <td>PLACEHOLDER Currency</td> </tr>
			<tr> <td class="subtitle">Industry</td> <td>PLACEHOLDER Ind</td> </tr>
			<tr> <td class="subtitle">Stock Type</td> <td>PLACEHOLDER Stock Type</td> </tr>
			<tr> <td class="subtitle">Sector</td> <td>PLACEHOLDER Sector</td> </tr>
			<tr> <td class="subtitle">WTF Gattung(e.g. Namens-Stammaktie)</td> <td>PLACEHOLDER Gattung</td> </tr> </table>
		<p>PLACEHOLDER Description Text</p>
		<img src="{% static "cerandi_app/img/35px-X_mark.svg.png"%}" alt="Dislike!" height="42" width="42" align="left">
		<img src="{% static "cerandi_app/img/35px-Yes_check.svg.png"%}" alt="Like!" height="42" width="42" align="right">
    </div>
  </div>
  <div id="bottom_menu">
	<img src="{% static "cerandi_app/img/bottom_menu/watchlist.png"%}" alt="Watchlist" height="100" width="100" align="middle">
	<img src="{% static "cerandi_app/img/bottom_menu/messages.png"%}" alt="Messages" height="100" width="100" align="middle">
	<img src="{% static "cerandi_app/img/bottom_menu/discover.png"%}" alt="Discover" height="100" width="100" align="middle">
	<img src="{% static "cerandi_app/img/bottom_menu/logout.png"%}" alt="Logout" height="100" width="100" align="middle">
  </div>

</body>
</html>
