{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "statement/css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "statement/css/jquery.mobile-1.4.4.min.css" %}">
    <link rel="stylesheet" href="{% static "statement/css/swipestyle.css" %}">
    <link rel="stylesheet" href="{% static "statement/css/starrating.css" %}">
    <script src="{% static "statement/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "statement/js/jquery.mobile-1.4.4.min.js" %}"></script>
    <script src="{% static "statement/js/swipescript.js" %}"></script>
    <style>
        td {
            padding: 5px
        }
    </style>
</head>
<body style="">

<div id="top_menu">
    <p align="center"><img src="{% static "statement/img/logos/logo_complete.png" %}" alt="cerandi" width="40%">
    </p>
</div>



<div id="container">

<div style="margin-top: 15%;">
<h2 style="margin-left: 5%;font-size: 30px">Current Stocks</h2>
{% for stock in stocks_invested %}
    <div style="margin-left: 20%;"><input type="submit" value="{{ stock.ticker_name }}" width="55%"></div>
{% endfor %}
<div style="visibility: hidden;"><input type="submit" value="Share my Portfolio" width="55%"></div>
<div style="margin-left: 20%"><input id="button_share" class="button-primary" type="submit"  value="Share my Portfolio"></div>
</div>
</div>

<div id="bottom_menu" align="middle">
    <a href="#"><img src="{% static "statement/img/bottom_menu/watchlist.png" %}" class="bottom_menu_button" alt="Watchlist"  width="14%"></a><div class="noti_bubble" id="watchlist_bubble">0</div>
    <a href="{{ request.path }}chat"><img src="{% static "statement/img/bottom_menu/messages.png" %}" class="bottom_menu_button" alt="Messages" width="14%"></a><div class="noti_bubble" id="messages_bubble">0</div>
    <a href="."><img src="{% static "statement/img/bottom_menu/discover.png" %}" class="bottom_menu_button" alt="Discover"  width="14%"></a>
    <a href="/logout"><img src="{% static "statement/img/bottom_menu/logout.png" %}" class="bottom_menu_button" alt="Logout" width="14%"></a>
</div>

<script language="javascript" type="text/javascript">
    document.getElementById('button_share').addEventListener('click', function () {
        setTimeout(showMessage, 10000);
    });

    function showMessage(){
        document.getElementById("messages_bubble").innerHTML = "1";
    }
</script>

</body>
</html>